.home {
    height: calc(100vh - 159px);
}

.home-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-row {
    margin-left: 10%;
    margin-right: 10%;
}

.home-confirmed {
    color: #cd0000;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 3px 3px black;
}

.home-deaths {
    color: gray;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 3px 3px black;
}

.home-recovered {
    color: green;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 3px 3px black;
}

.home-visit-text {
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
    text-shadow: 1px 1px black;
}


/*classes for mobile devices*/

.home-center-mobile {
    height: calc(100vh - 159px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-confirmed-mobile {
    color: #cd0000;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 1px 1px black;
}

.home-deaths-mobile {
    color: gray;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 1px 1px black;
}

.home-recovered-mobile {
    color: green;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 1px 1px black;
}

.home-visit-text-mobile {
    color: whitesmoke;
    font-weight: bold;
    font-size: 15px;
    font-family: monospace;
    text-shadow: 1px 1px black;
}