.locations-center {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.locations-list {
    height: calc(100vh - 159px);
    overflow: auto;
}

.locations-list-group .list-group-item {
    -webkit-filter: invert(100%);
    mix-blend-mode: exclusion;
}

.locations-list-group .list-group-item.active {
    background-color: #2d2d2d;
}

.locations-list-group .list-group-item:not(.active):hover {
    background-color: #ebebeb;
}

.scrollbar {
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #07070a;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #1d1e21;
}

.locations-country-text {
    color: whitesmoke;
    font-weight: bold;
    font-size: 80px;
    text-shadow: 5px 5px black;
}

.locations-confirmed {
    color: #cd0000;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 3px 3px black;
}

.locations-deaths {
    color: gray;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 3px 3px black;
}

.locations-recovered {
    color: green;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 3px 3px black;
}

.locations-list-mobile {
    height: calc(100vh - 455px);
    overflow: auto;
}

.locations-country-text-mobile {
    color: whitesmoke;
    font-weight: bold;
    font-size: 60px;
    text-shadow: 5px 5px black;
}

.locations-confirmed-mobile {
    color: #cd0000;
    font-weight: bold;
    font-size: 35px;
    text-shadow: 3px 3px black;
}

.locations-deaths-mobile {
    color: gray;
    font-weight: bold;
    font-size: 35px;
    text-shadow: 3px 3px black;
}

.locations-recovered-mobile {
    color: green;
    font-weight: bold;
    font-size: 35px;
    text-shadow: 3px 3px black;
}