.locations {
    height: calc(100vh - 160px);
    position: relative;
    text-align: center;
}

.locations-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.locations-list {
    height: calc(100vh - 160px);
    overflow: auto;
}

.scrollbar {
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #eee;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #d7d7d7;
}