@model DiseaseTracker.Models.COVID19Statistics

@{
    ViewData["Title"] = "COVID-19 Statistics";
}

<div class="text-center">
    <h1 class="display-4">COVID-19 Statistics</h1>
    <p>Confirmed: @Model.Confirmed</p>
    <p>Deaths: @Model.Deaths</p>
    <p>Recovered: @Model.Recovered</p>
</div>